.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*main*/
.space{
    width:90%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar h2{
    color:rgba(58, 58, 58, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.navbar ul{
    display: flex;
    gap:20px;
}

.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}

.banner{
    display: flex;
}
.banner-header h1{
    color: rgba(58, 58, 58, 1);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.4rem;
}
.banner-header p{
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.btn{
    width: 190px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    color:white;
    border:none;

}
.radius{
    border-radius: 41px;
}
.banner-img{
    background-image: url('./images/Circle\ design.svg');
}