.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*main*/
.space{
    width:90%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar h2{
    color:rgba(58, 58, 58, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.navbar ul{
    display: flex;
    gap:20px;
}

.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}

.banner{
    display: flex;
   
}
.banner-header{
   margin-top: 120px;
   width: 582px;
   height: 270px;
   margin-right: 133px;
}
.banner-header h1{
    color: rgba(58, 58, 58, 1);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.4rem;
}
.banner-header p{
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.btn{
    width: 190px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    color:white;
    border:none;

}
.radius{
    border-radius: 41px;
}
.banner-img{
    margin-top: 80px;
    background-image: url('./images/Circle\ design.svg');
}

.logos{
    border-top: 2px  solid;
    border-bottom: 2px solid;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-image: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1),rgba(192, 204, 218, 0.6) 50%,rgba(192, 204, 218, 0.1) 100%) 1;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 100px;
}
.collection h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgba(58, 58, 58, 1);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.5rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.main-card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: left;
    width: 350px;
    margin-bottom: 30px;

     
}
.main-card img{
    border-radius: 5px;
    margin-top:17px;
}
.main-card h3,p{
    text-align: left;
    width: 85%;
}
.main-card h3{
    color: rgba(58, 58, 58, 1);
   font-size: 1.75rem;
   font-weight: 600;
   margin-bottom: 0px;

}
.main-card #money{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
   font-weight: 400;
   line-height: 50%;
}
.main-card i{
    color:orange;
}
.main-card p{
    color: rgba(94, 99, 102, 1);
   font-size: 0.8rem;
   font-weight: 500;
  line-height: 1.4rem;
}
.see-more {
   
   text-align: right;
   margin-top: 25px;
    
}
.see-more a{
    text-decoration: none;
    color:rgba(224, 44, 109, 0.87);
    margin-right: 40px;
   
}
.feature{
    display: flex;
    gap:96px;
    margin-top: 174px;
}
.feature h2{
    color: rgba(10, 8, 38, 1);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.8rem;
}
.feature p{
    color: rgba(108, 108, 108, 1);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
}
.feature .btn{
    font-size: 1rem;
   font-weight: 700;
   line-height: 1.5rem;
}
.btn i{
    margin-left: 5px;
}
footer{
    background-color: rgba(10, 8, 38, 1);
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
footer h3{
    font-size: 1.5rem;
   font-weight: 700;
   line-height: 1rem;
}
footer p{
    text-align: center;
    margin-left: 100px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
}
footer i{
    margin-right: 15px;
    margin-left: 10px;
}